<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuvf4BrHH0ZKsG25mrA4kshHh2tqA4Zu4"/>

        <activity
            android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".RegisterActivity"/>
        <activity android:name=".FindActivity"/>
        <activity android:name=".AuthenticationActivity"/>

        <activity android:name=".map.Search"/>
        <activity android:name=".map.Map_Search"/>
        <activity android:name=".map.Real_Write_Address"/>

        <activity android:name=".SearchActivity"/>

        <activity android:name=".cafe.CafeActivity"/>
        <activity android:name=".chicken.ChickenActivity"/>
        <activity android:name=".chinese_food.ChineseFoodActivity"/>
        <activity android:name=".fast_food.FastFoodActivity"/>
        <activity android:name=".korean_food.KoreanFoodActivity"/>
        <activity android:name=".late_night_food.LateNightFoodActivity"/>
        <activity android:name=".lunchbox.LunchboxActivity"/>
        <activity android:name=".pizza.PizzaActivity"/>
        <activity android:name=".snack_food.SnackFoodActivity"/>

    </application>

</manifest>